<!DOCTYPE html>
<html>
  <head>
    <title>Hurizebert</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main-container"  class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <h1>SMRT Disruption 2017</h1>
          <h2><%= link_to 'EWL', home_ewl_path %></h2>
          <h2><%= link_to 'NSL', home_nsl_path %></h2>
          <h2><%= link_to 'CCL', home_ccl_path %></h2>
          <h2><%= link_to 'BPLRT', home_bplrt_path %></h2>
	  <h3><%= link_to 'Home', home_index_path %></h3>
        </div>
        <div class="col-md-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
